<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  RewriteCond %{HTTP_HOST} ^rc.com [NC]
  RewriteRule ^(.*)$ http://www.rc.com/$1 [L,R=301]
</IfModule>