<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml">    
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                {css href="__Css/common.css" /}
                {js href="__Js/common.js" /}
                {css href="__Pub/css/bootstrap.css" /}
                {css href="__Pub/css/docs.css" /}
                {css href="__Pub/css/global.css" /}
                {js href="__Pub/js/global.js" /}
                {js href="__Pub/jquery-2.0.3.min.js" /}
                {block name="head"} 

                {/block}
                </head>
                <body>
                    {include file="public/topbar" /}
                    <div class="content">
                        {block name='body'}{/block}
                    </div>
                    <!-- 底部
            ================================================== -->
                    <footer class="footer">
                        <div class="container">
                            <p> 本站由 <strong><a href="http://rc.com" target="_blank">RC</a></strong> 强力驱动</p>
                        </div>
                    </footer>
                </body>
                </html>
