<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {css href="__Css/common.css" /}
        {js href="__Js/common.js" /}
        {css href="__Pub/css/bootstrap.css" /}
        {css href="__Pub/css/docs.css" /}
        {js href="__Pub/js/global.js" /}
        {js href="__Pub/jquery-2.0.3.min.js" /}
        {block name="head"} 

        {/block}
    </head>
    <body>
        {block name="body"}

        {/block}
    </body>
</html>
