<div class="sideBar">
    <span><a href="{:url('admin/user/')}">用户管理</a></span>
    <ul>
        <li>
            <a href="{:url('')}">用户列表</a>
        </li>
        <li>
            <a href="{:url('')}">用户列表</a>
        </li>
        <li>
            <a href="{:url('')}">用户列表</a>
        </li>
        <li>
            <a href="{:url('')}">用户列表</a>
        </li>
    </ul>
    <span>文章管理</span>
    <ul>
        <li>
            <a href="{:url('')}">文章列表</a>
        </li>
        <li>
            <a href="{:url('')}">用户列表</a>
        </li>
        <li>
            <a href="{:url('')}">用户列表</a>
        </li>
        <li>
            <a href="{:url('')}">用户列表</a>
        </li>
    </ul>
</div>
